body{
    background-color: #1aa1e5;
    font-family: 'Sofia', cursive;
}
.background{
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center; 
    text-align: center;   
    color: white;
}
.coming-soon h1{
  padding-bottom: 10px;
  font-family: 'Epilogue', sans-serif;
}
.contact{
    padding: 20px 0px;
    
}
div .contact-us{
    text-decoration: none;
    background-color:#4ed6b0;
    height:20px;
    width:2rem;
    padding: 10px 20px;
    border-radius: 4px;
}
.social-icons{
    display: flex;
    gap: 20px;
}
i{
    height: 10px;
    width: 10px;
}
.mailchip{
    border-radius:10px;
    height: 20rem;
    width: 40rem;
    margin: 2rem 24rem;
    background-color:#000000
}
 .input{
    padding: 12px 0px;
}
form{
   display: block;
   margin: 0px 50px;
   padding: 20px 0px;
}
label{
color:#4ed6b0
}
input{
    width: 100%;
    height: 40px;
    border-radius: 6px;
}
button{
    width: 100%;
    height: 40px;
    border-radius:6px;
    background-color:#4ed6b0;
     margin: 20px 0px;
    
}
input:focus{
outline-color: #4ed6b0;
filter: contrast(75%);
}