body {
  background-color: #1aa1e5;
  font-family: "Sofia", cursive;
}
.img{
    height: 100px;
    width: 100px;
}
.background {
  padding: 40px 0px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  text-align: center;
  color: white;
}
.coming-soon h1 {
  padding-bottom: 10px;
  font-family: "Epilogue", sans-serif;
}
.contact {
  padding: 20px 0px;
}
div .contact-us {
  text-decoration: none;
  background-color: #4ed6b0;
  height: 20px;
  width: 2rem;
  padding: 10px 20px;
  border-radius: 4px;
}
.social-icons {
  display: flex;
  gap: 20px;
}
i {
  height: 10px;
  width: 10px;
}

.input {
  padding: 12px 0px;
}
form {
  display: block;
  margin: 0px 50px;
  padding: 20px 0px;
  padding-bottom: 20px;
}
label {
  color: #4ed6b0;
}
input {
  width: 100%;
  height: 40px;
  border-radius: 6px;
}
.button {
  width: 100%;
  height: 40px;
  border-radius: 6px;
  background-color: #4ed6b0;
  margin: 20px 0px;
}
input:focus {
  outline-color: #4ed6b0;
  filter: contrast(75%);
}
.indicates-required {
  color: #707070;
  padding: 10px 0px;
  text-align: center;
  font-size: 1em;
}
/* mailchimp css */
#mc_embed_signup {
  padding: 40px 0px 60px 0px;
  border-radius: 10px;
  height: 28rem;
  width: 40rem;
  margin: 2rem 24rem;
  background-color: #000000;
}
form .mc-field-group {
  margin-bottom: 10px;
}
.mc-field-group {
  padding: 10px 0px;
}
form input + .mce_inline_error {
  display: inline-block;
}
.mc-field-group .label {
  padding: 10px;
}
form input + .mce_inline_error {
  display: inline-block;
  font-size: 0.5em;
  position: relative;
  background-color:#707070;
}
form input + .mce_inline_error::before {
  content: none;
  width: 0;
  height: 0;
  border-bottom: 10px solid #6b0505;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  top: -14px;
}
form #mce-success-response {
  background-color: #4ed6b0;
  padding: 12px;
  color: white;
  border-radius: 12px;
  transition: 1s  forward;
}
form #mce-error-response {
    background-color: #707070;
    padding: 12px;
    color: white;
    border-radius: 12px;
    transition: 1s forward;
  }
  @media screen and (max-width: 600px) {
    #mc_embed_signup {
        padding: 40px 0px 60px 0px;
        border-radius: 5px;
        height: 30rem;
        width: 300px;
        margin: 2rem 0rem;
        background-color: #000000;
      }
      
  form {
    display: block;
    margin: 0px 20px;
  }
  }
