/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  .grid {
    row-gap: 4.8rem;
  }

  .grid--2-cols {
    grid-template-columns: 1fr;
  }

  .form {
    padding: 3rem 0;
    z-index: 1;
  }

  .form h1 {
    font-size: 4rem;
  }

  .form h1 span {
    font-size: 1.5rem;
  }

  .form h2 {
    font-size: 2rem;
  }

  .sign-up {
    gap: 3rem;
  }

  .sign-up p {
    font-size: 1.4rem;
  }

  .search-bar {
    width: 350px;
    height: 35px;
  }

  .search-bar input[type='email'] {
    padding: 0 10px;
    font-size: 1.2rem;
  }

  .search-bar input::placeholder {
    font-size: 1.2rem;
  }

  .search-bar button {
    font-size: 1.2rem;
    padding: 1rem;
  }

  .form-img-bg {
    position: absolute;
  }

  .form-img-bg img {
    visibility: hidden;
  }

  .policy h1 {
    font-size: 5rem;
  }

  footer {
    flex-direction: column;
    gap: 5rem;
  }

  footer .social-icons a i {
    font-size: 2.2rem;
  }

  footer .social-links a {
    font-size: 1.3rem;
  }
}