/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  .grid {
    row-gap: 4.8rem;
  }

  .grid--2-cols {
    grid-template-columns: 1fr;
  }

  .form {
    padding: 5.6rem 0;
    z-index: 1;
  }

  .sign-up {
    gap: 3rem;
  }

  .form-img-bg {
    position: absolute;
  }

  .form-img-bg img {
    visibility: hidden;
  }

  footer {
    flex-direction: column;
    gap: 5rem;
  }
}